@page "/Cases"
@inherits InfinitePage
@inject IApiService ApiService

<MRow Class="overflow-y-auto" Style="height:calc(100vh - 120px)" Justify="JustifyTypes.Center" @ref="_container">
    <div class="d-flex flex-column pa-4" style="width:800px; max-width:100%; row-gap:16px">
        @foreach (var caseItem in _cases)
        {
            <MHover>
                <MCard @attributes="context.Attrs"
                   Class="transition-swing"
                   Href="@($"/Cases/{caseItem.Id}")"
                   Elevation="@(context.Hover ? 10 : 2)">
                    <MListItem ThreeLine="true">
                        <MListItemAvatar Size="96" Class="align-self-center">
                            <MIcon Size="96">mdi-doctor</MIcon>
                        </MListItemAvatar>
                        <MListItemContent>
                            <div class="text-overline">
                                @caseItem.Author 医生
                            </div>
                            <MListItemTitle Class="text-h5 mb-2">
                                案例：@caseItem.Date?.ToString("D")
                            </MListItemTitle>
                            <MListItemSubtitle>
                                <MChipGroup>
                                    <MChip>
                                        <MIcon Left="true">mdi-gender-male-female</MIcon>
                                        @(caseItem.Gender switch
                                        {
                                            Gender.Male => "男性",
                                            Gender.Female => "女性",
                                            _ => "保密"
                                        })
                                    </MChip>
                                    <MChip>
                                        <MIcon Left="true">mdi-cake</MIcon>
                                        @(caseItem.Age)岁
                                    </MChip>
                                </MChipGroup>
                            </MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MHover>
        }
        <MInfiniteScroll Threshold="5"
                         HasMore="_hasMore"
                         OnLoadMore="async () => await LoadMore(_cases, LoadCases)"
                         Parent="_container?.Ref">
        </MInfiniteScroll>
    </div>
</MRow>

@code {
    [CascadingParameter]
    MainLayout Layout { get; set; } = null!;

    MRow? _container;
    List<CaseMetadata> _cases = new();

    protected override async Task OnInitializedAsync()
    {
        Layout.Config = new("诊疗案例");
        await LoadMore(_cases, LoadCases);
    }

    Task<IList<CaseMetadata>?> LoadCases() => ApiService.ListCasesAsync(_cases.Count);
}
