@page "/"
@page "/Articles"
@inherits InfinitePage
@inject IApiService ApiService

<MRow Class="overflow-y-auto" Style="height:calc(100vh - 120px)" Justify="JustifyTypes.Center" @ref="_container">
    <div class="d-flex flex-column pa-4" style="width:800px; max-width:100%; row-gap:16px">
        @foreach (var article in _articles)
        {
            <MHover>
                <MCard @attributes="context.Attrs"
                   Class="transition-swing"
                   Href="@($"/Articles/{article.Id}")"
                   Elevation="@(context.Hover ? 10 : 2)">
                    <MCardTitle>
                        @article.Title
                    </MCardTitle>
                    <MCardSubtitle>
                        @article.Source
                    </MCardSubtitle>
                    <MCardText>
                        @article.CreatedTime?.LocalDateTime
                    </MCardText>
                </MCard>
            </MHover>
        }
        <MInfiniteScroll Threshold="5"
                         HasMore="_hasMore"
                         OnLoadMore="async () => await LoadMore(_articles, LoadArticles)"
                         Parent="_container?.Ref">
        </MInfiniteScroll>
    </div>
</MRow>

@code {
    [CascadingParameter]
    MainLayout Layout { get; set; } = null!;

    MRow? _container;
    List<ArticleMetadata> _articles = new();

    protected override async Task OnInitializedAsync()
    {
        Layout.Config = new("医疗资讯");
        await LoadMore(_articles, LoadArticles);
    }

    Task<IList<ArticleMetadata>?> LoadArticles() => ApiService.ListArticlesAsync(_articles.Count);
}
