@page "/"
@page "/Articles"
@inherits InfinitePage<ArticleMetadata>
@inject IApiService ApiService

<MRow Class="overflow-y-auto" Style="height:calc(100vh - 120px)" Justify="JustifyTypes.Center" @ref="_container">
    <div class="pa-4" style="width:800px; max-width:100%">
        <MResponsive AspectRatio="2/1">
            <MCarousel Cycle="true"
                       Height="@("auto")"
                       HideDelimiterBackground="true"
                       ShowArrowsOnHover="true">
                <ChildContent>
                    <MCarouselItem>
                        <MResponsive AspectRatio="2/1">
                            <MImage Src="_content/Project420.Client/image/carousel/p1.jpg"></MImage>
                        </MResponsive>
                    </MCarouselItem>
                    <MCarouselItem>
                        <MResponsive AspectRatio="2/1">
                            <MImage Src="_content/Project420.Client/image/carousel/p2.jpg"></MImage>
                        </MResponsive>
                    </MCarouselItem>
                </ChildContent>
            </MCarousel>
        </MResponsive>
    </div>
    <div class="d-flex flex-column pa-4" style="width:800px; max-width:100%; row-gap:16px">
        @foreach (var article in _articles)
        {
            <MHover>
                <MCard @attributes="context.Attrs"
                       Class="transition-swing"
                       Href="@($"/Articles/{article.Id}")"
                       Elevation="@(context.Hover ? 10 : 2)">
                    <MCardTitle>
                        @article.Title
                    </MCardTitle>
                    <MCardSubtitle>
                        @article.Source
                    </MCardSubtitle>
                    <MCardText>
                        @article.CreatedTime?.LocalDateTime
                    </MCardText>
                </MCard>
            </MHover>
        }
        <MInfiniteScroll Threshold="5"
                         OnLoad="OnLoad"
                         Parent="_container?.Ref">
        </MInfiniteScroll>
    </div>
</MRow>

@code {
    [CascadingParameter]
    MainLayout Layout { get; set; } = null!;

    MRow? _container;
    List<ArticleMetadata> _articles = new();

    protected override void OnInitialized()
    {
        Layout.Config = new("医疗资讯");
    }

    protected override List<ArticleMetadata> Items => _articles;

    protected override Task<IList<ArticleMetadata>> LoadDataAsync()
        => ApiService.ListArticlesAsync(_articles.Count);
}
